<ng-container *ngIf="isLoading; else elseTemplate">
  <app-loading></app-loading>
</ng-container>
<ng-template #elseTemplate>
  <div class="container" fxLayout="column" fxLayoutAlign="start center">
    <div class="content" fxLayout="column" fxLayoutGap="20px">
      <div
        *ngFor="let demande of demandes; let i = index"
        class="demande-container"
        fxLayout="column"
        fxLayoutGap="5px"
      >
        <div fxLayout="column" fxLayoutGap="5px">
          <div>
            <strong>ajouter par : </strong>
            <span>
              {{ demande.login }} ({{ demande.fname }} {{ demande.lname }})
            </span>
          </div>
          <div>
            <strong>demande type : </strong>
            <span>{{ demande.type }}</span>
          </div>
          <div *ngIf="demande.type === 'conge'">
            <strong>de : </strong>
            <span> {{ demande.start_date | date : "dd/MM/yyyy" }} </span>
            <strong>a : </strong>
            <span> {{ demande.end_date | date : "dd/MM/yyyy" }} </span>
          </div>
          <div *ngIf="demande.type === 'autorisation'">
            <strong>le : </strong>
            <span> {{ demande.start_date | date : "dd/MM/yyyy" }} </span>
            <strong>de : </strong>
            <span> {{ demande.start_date | date : "HH:mm:ss" }} </span>
            <strong>a : </strong>
            <span> {{ demande.end_date | date : "HH:mm:ss" }} </span>
          </div>
          <div>
            <strong>date de creation : </strong>
            <span>
              {{ demande.created_at | date : "dd/MM/yyyy HH:mm:ss" }}</span
            >
          </div>
        </div>
        <div
          *ngFor="let reponse of demande.reponses"
          class="response-container"
          fxLayout="row"
          fxLayoutGap="3px"
          [ngClass]="reponse.response === 'accepted' ? 'accepted' : 'refused'"
        >
          <strong>
            {{ reponse.response === "accepted" ? "accepted" : "refused" }} by
          </strong>
          <ng-container
            *ngIf="reponse.rb_id === user.user_id; else elseTemplate"
          >
            <strong> you </strong>
          </ng-container>
          <ng-template #elseTemplate>
            <span>
              {{ reponse.rb_login }} ({{ reponse.rb_fname }}
              {{ reponse.rb_lname }})
            </span>
          </ng-template>
          <div
            *ngIf="
              demande.type === 'evaluation' && reponse.response === 'accepted'
            "
          >
            <strong>and with evaluation : </strong>
            <span>{{ reponse.evaluation }}</span>
          </div>
        </div>
        <div
          class="btn"
          fxLayout="row-reverse"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          mat-dialog-actions
          *ngIf="!isResponsed(demande)"
        >
          <button
            mat-raised-button
            class="refused"
            (click)="addReponse('refused', demande, i)"
          >
            refuse
          </button>
          <button
            mat-raised-button
            class="accepted"
            (click)="addReponse('accepted', demande, i)"
          >
            accept
          </button>
        </div>

        <div
          class="btn"
          fxLayout="row-reverse"
          fxLayoutAlign="start center"
          fxLayoutGap="10px"
          mat-dialog-actions
          *ngIf="isResponsed(demande)"
        >
          <button
            mat-raised-button
            class="refused"
            (click)="updateReponse('refused', demande, i)"
            *ngIf="responseType(demande) === 'accepted'"
          >
            refuse
          </button>
          <button
            mat-raised-button
            class="accepted"
            (click)="updateReponse('accepted', demande, i)"
            *ngIf="responseType(demande) === 'refused'"
          >
            accept
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
